main {
    width: 100%;
    padding: .5rem;
}

.container {
    display: grid;
    grid-template-columns: 20% 80%;
    width: 100vw;
    min-height: 100vh;
    margin: 0;
}

.navigation-bar {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding: 2rem;
    background: rgb(251,250,255);
    background: linear-gradient(180deg, rgba(251,250,255,1) 0%, rgba(238,238,254,1) 35%, rgba(220,221,221,1) 100%);
}

.grid-3-lg {
    display: block;
    width: 100%;

    @media (min-width: 996px) {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: .5rem;
        place-items: center;
    }
}