.recipe-card {
    border: 3px solid gray;
    margin: 10px;

    &__title {
        padding: 10px;
    }

    &__paragraph {
        padding: 5px;
        text-align: center;
    }
}

.recipe-card__buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}