.form__submit-button {
    display: block;
    margin: 10px auto;
    background-color: white;
    border: none;
    color: gray;
    transition: color .3s linear;
    font-weight: 700;
}

.form__submit-button:focus {
    background-color: white;
}

.form__submit-button:hover {
    color: black;
}

.card__submit-button {
    display: block;
    margin: 10px auto;
    padding: 5px;
    border-radius: 5px;
    font-weight: 700;
    background-color: white;
    border: none;
    color: white;
    background-color: red;

    transition: background-color .3s linear;
}

.card__submit-button:focus {
    background-color: red;
}

.card__submit-button:hover {
    background-color: rgb(150, 0, 0);
}