.recipe-detailed-card {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    align-items: center;

    &__title {
        padding: 10px;
    }

    &__paragraph {
        padding: 5px;
        text-align: center;
    }

    &__ingredients-list__container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}